<tr id="donate_pet_<%= donate_pet.id %>">
  <td><strong><%= index %></strong></td>
  <td><%= donate_pet.user.first_name %> <%= donate_pet.user.last_name %></td>
  <td><%= donate_pet.category_name %></td>
  <td><%= donate_pet.breed_name %></td>
  <td><%= donate_pet.pet_gender %></td>
  <td><%= donate_pet.expected_donate_date.strftime("%d-%m-%Y") if donate_pet.expected_donate_date %></td>
  
  <td>
    <%= form_with model: donate_pet, url: admin_donate_pet_path(donate_pet), method: :patch, data: { turbo_frame: "donate_pet_#{donate_pet.id}" } do |form| %>
    <%= form.date_field :actual_donate_date, value: donate_pet.actual_donate_date, class: "form-control form-control-sm", onchange: "this.form.submit()" %>
    <% end %>
  </td>

  <td>
    <% status_class = donate_pet.pending? ? 'bg-warning text-dark' : (donate_pet.accepted? ? 'bg-success text-white' : 'bg-danger text-white') %>
    <span class="badge <%= status_class %>">
      <%= donate_pet.status.capitalize %>
    </span>
  </td>

  <td>
    <div class="d-flex gap-2">
      <%= link_to admin_donate_pet_path(donate_pet), class: "btn btn-sm btn-outline-primary", title: "View" do %>
        <i class="fas fa-eye"></i>
      <% end %>

      <%= link_to admin_donate_pet_path(donate_pet, donate_pet: { status: "accepted" }), 
          method: :patch, 
          class: "btn btn-sm btn-outline-success", 
          data: { turbo_method: :patch, turbo_frame: "adopt_pet_#{donate_pet.id}", turbo_stream:true,
                  turbo_confirm: "Are you sure you want to accept this request?" } do %>
        <i class="fas fa-check-circle"></i>
      <% end %>

      <%= link_to admin_donate_pet_path(donate_pet, donate_pet: { status: "rejected" }), 
          method: :patch, 
          class: "btn btn-sm btn-outline-danger", 
          data: { turbo_method: :patch, turbo_frame: "adopt_pet_#{donate_pet.id}", 
                  turbo_confirm: "Are you sure you want to reject this request?" } do %>
        <i class="fas fa-times-circle"></i>
      <% end %>
    </div>
  </td>
</tr>
