<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paws And Adopt" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="icon" href="/favicon.jpg" type="image/jpeg">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "dependent_dropdown", defer: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%# <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"> %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>

  <body class="bg-light">
  
  <% if user_signed_in? %>
    <%= render "shared/navbar" %>
    <%= render "shared/sidebar" %>
  <% end %>

  <div class="container bg-light ">

   <% if user_signed_in? %>
    <nav aria-label="breadcrumb" class="mt-4 px-4">
      <%= breadcrumbs %>
    </nav>
   <% end %>
   
    <div class="mt-4">
      <%= yield %>  
    </div>

  </div>
  </body>
</html>
